[submodule "src/cuda/cutlass-bench/tools/external/googletest"]
	path = src/cuda/cutlass-bench/tools/external/googletest
	url = https://github.com/google/googletest.git
[submodule "src/cuda/cutlass-bench"]
	path = src/cuda/cutlass-bench
	url = https://github.com/NVIDIA/cutlass.git
[submodule "src/cuda/cuda-samples"]
	path = src/cuda/cuda-samples
	url = https://github.com/NVIDIA/cuda-samples.git
[submodule "src/cuda/pytorch_examples"]
	path = src/cuda/pytorch_examples
	url = https://github.com/accel-sim/pytorch_examples.git
	branch = inference_accelsim_v2
[submodule "src/cuda/H100/external/cugraph"]
	path = src/cuda/H100/external/cugraph
	url = https://github.com/rapidsai/cugraph.git
[submodule "src/cuda/H100/external/newton"]
	path = src/cuda/H100/external/newton
	url = https://github.com/newton-physics/newton.git
